%content {
  padding: 0 3rem;

  & > p {
    font-size: 2.4rem;
    line-height: calc(2rem * 1.5);
    margin: 4rem 0;
  }

  & > h1,
  h2,
  h3 {
    font-size: 3.2rem;
    line-height: calc(3.2rem * 1.2);

    margin: 2.4rem 0;
  }

  .email {
    color: inherit;
    font-style: normal;
    font-size: inherit;
  }
}

.c-content {
  @extend %content;
  color: var(--color-white);

  &--options {
    text-align: center;
    color: var(--color-secondary);
  }

  &--dark {
    color: var(--color-secondary);
  }

  &.-align-center {
    text-align: center;
  }
}
