%content {
  padding: 0 3rem;
  font-size: 2rem;

  h1, h2, p {
    margin-bottom: var(--spacing-primary);
  }
}

.c-content {
  @extend %content;
  color: var(--color-white);

  &--options {
    text-align: center;
    color: var(--color-secondary);

    h1, h2, p {
      margin-bottom: var(--spacing-tertiary);
    }
  }

  &--dark {
    color: var(--color-secondary);
  }
}
