.c-logo {
  height: 8rem;
  padding: 2rem;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
  }

  .logo__img {
    height: 4rem;
    margin-right: 0.5rem;
  }

  .logo__title {
    font-size: 1.4rem;
  }
}