.c-logo {
  height: 4rem;
  width: 16rem;
  padding: var(--spacing-primary);

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
  }

  &__img {
    height: 4rem;
    margin-right: 0.5rem;
  }

  &__title {
    font-size: 1.4rem;
  }
}