%schedule-button {
  display: block;
  height: 3.4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--spacing-primary);
  padding: 0.5rem;
  
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-secondary);
}

.c-schedule {
  @extend %schedule-button;
  background-color: var(--color-white);
  
  &--dark {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }

  &--pink {
    background-color: var(--color-primary);
  }
}