.c-testimonial {
  height: 14rem;
  display: flex;
  align-items: center;
  padding: 1rem;

  border-radius: 0.5rem;
  background-color: var(--color-white);

  transform: translateX(-100%);
  opacity: 0;

  img {
    height: 10rem;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  &__commentary {
    font-size: 1.4rem;
    color: var(--color-secondary);
    margin-left: 1.4rem;
  }

  &__commentary p::before {
    content: '\201C';
  }

  &__commentary p::after {
    content: '\201D';
  }
}