.c-testimonial {
  height: 100%;
  max-width: 60rem;

  display: flex;
  padding: 2.4rem;

  border-radius: 0.5rem;
  background-color: var(--color-white);

  img {
    display: none;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }

  &__commentary {
    height: auto;
    height: auto;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 1.4rem;
    color: var(--color-secondary);

    display: flex;
    flex-direction: column;

    & p::before {
      content: '\201C';
    }

    & p::after {
      content: '\201D';
    }
  }

  @media screen and (min-width: 700px) {
    img {
      display: initial;
      height: 10rem;
    }
  }
}
