.c-testimonial {
  height: 14rem;
  display: flex;
  align-items: center;
  padding: 2rem;

  border-radius: 0.5rem;
  background-color: var(--color-white);

  transform: translateX(-100%);
  opacity: 0;

  img {
    height: 10rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &__commentary {
    font-size: 1.2rem;
    margin-left: 1.4rem;
    color: var(--color-secondary);

    align-self: start;
  }

  &__commentary p::before {
    content: '\201C';
  }

  &__commentary p::after {
    content: '\201D';
  }
}

@media (min-width: 750px) {
  .c-testimonial {
    h2 {
      font-size: 1.6rem;
    }
  
    &__commentary {
      font-size: 1.4rem;
    }
  }
}