.input__field.error {
  .label__field {
    display: flex;
    align-items: center;
  }

  input {
    border-color: var(--color-tertiary);
  }
}

.input__error {
  font-size: 1.6rem;
  margin-left: 0.5rem;
  color: var(--color-tertiary);

  display: flex;
}

.check__field {
  .input__error {
    margin-top: 0.5rem;
    margin-left: 2.8rem;
  }
}