.select__container .select {
  margin-bottom: 1rem;
}

.select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-primary);
  margin-top: 0.6rem;

  .option__legend {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    font-size: 1.6rem;
    cursor: pointer;

    transition: background-color linear 0.4s;

    &:hover {
      background-color: var(--color-blue);
    }
  }

  .option__image {
    min-width: 4rem;
    max-width: 8rem;
  }

  &:focus-within {
    border-color: var(--color-secondary);
  }

  input:checked + label,
  input:focus + label {
    background-color: var(--color-primary);
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }
}

@media (min-width: 800px) {
  .select__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.4rem;
  }

  .select.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .select.four-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
