.l-intro {
  width: 100vw;
  height: 55vh;
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10rem 1fr 1fr;

  &__header {
    height: 8rem;
    position: relative;

    .toggle-menu {
      position: absolute;
      right: 2rem;
      top: 2rem;
      z-index: 10;
    }

    .toggle-menu div {
      width: 3rem;
      height: 0.4rem;
      background-color: var(--color-white);
      margin: 0.4rem;
      transition: transform 0.6s, background-color 0.8s, opacity 1s  linear;
    }

    &.on {
      .toggle-menu {
        position: fixed;
        
        .two {
          opacity: 0;
          transition: opacity 0s linear;
        }
  
        .one {
          transform: rotate(45deg) translateY(11px);
        }

        .three {
          transform: rotate(-45deg) translateY(-11px);
        }
      }  
      
      .l-intro__links {
        transform: translate(-35%, -50%);
      }
    }
  }

  &__location {
    height: 4rem;
    align-self: end;
    text-align: center;
    color: var(--color-white);
    grid-column: 1/3;
    grid-row: 3/3;
    
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__links {
    position: fixed;
    width: 80vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 7rem 0;
    background-color: var(--color-secondary);
    border-left: 1px solid var(--color-light-secondary);
    
    left: 50%;
    z-index: 5;
    top: 50%;
    transform: translate(80%, -50%);
    transition: transform 0.6s linear;

    ul {
      padding: 4rem 0;
      list-style: none;
      width: 100%;
      border-top: 1px solid var(--color-light-secondary);
    }

    li {
      width: 100%;
    }

    a {
      display: block;
      width: inherit;
      height: 4rem;
      font-size: 2rem;
      text-decoration: none;

      display: flex;
      align-items: center;
      justify-content: center;
     
      color: var(--color-white);
    }
  }
  
  .c-content {
    grid-column: 1/3;
  }

  @keyframes show-schedule-button {
    to {
      transform: initial;
      opacity: 1;
    }
  }

  .c-schedule {
    animation: show-schedule-button 0.6s 0.2s forwards;
  }
}