.l-message {
  padding: 6.4rem 0;
  background-color: var(--color-white);

  display: grid;

  &__pets {
    width: 100%;
    max-width: 500px;
    padding: 0 2.4rem;
    margin-top: 6.4rem;
    justify-self: center;
  }
}

@media (min-width: 700px) {
  .l-message {
    place-content: center;
    grid-template-columns: 1fr repeat(2, minmax(300px, 700px)) 1fr;

    &__pets {
      margin-top: 0;
      grid-column: 3/4;
    }

    .c-content {
      max-width: 500px;
      height: 100%;
      place-self: center;
      grid-column: 2/3;

      h2 {
        margin-top: 0;
      }
    }
  }
}
