.l-message {
  padding: 8rem 0;
  background-color: var(--color-white);
  
  display: grid;

  &__pets {
    width: 100%;
    max-width: 500px;
    padding: 0 var(--spacing-secondary);
    margin-top: var(--spacing-tertiary);
    justify-self: center;
  }
}

@media (min-width: 700px) {
  .l-message {
    place-content: center;
    grid-template-columns: 1fr repeat(2, minmax(300px, 700px)) 1fr;

    &__pets {
      margin-top: 0;
      grid-column: 3/4;
    }

    .c-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      grid-column: 2/3;
    }
  }
}