.l-options {
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-white);

  .c-content--options {
    margin-bottom: 8rem;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .options > .c-option {
    margin-bottom: 8rem;
  }
}

@media (min-width: 700px) {
  .l-options .options {
    gap: 2rem;
  }
}
