.l-services {
  padding-bottom: 8rem;

  &__bg {
    width: 100%;
    margin-bottom: 8rem;
  }
}

@media (min-width: 700px) {
  .l-services {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(300px, 700px)) 1fr;
    place-content: center;
    place-items: center;

    padding-bottom: 0;

    &__bg {
      object-fit: cover;
      height: 100%;
      margin-bottom: 0;
      grid-column: 2/3;
    }
    .c-content {
      max-width: 500px;
      grid-column: 3/4;
      margin-bottom: 3.2rem;
    }
  }
}
