.l-testimonials {
  color: var(--color-white);
  padding: 8rem var(--spacing-primary);
  background-color: var(--color-secondary);

  &__title {
    font-size: 3rem;
    margin-bottom: var(--spacing-secondary);
    text-align: center;
  }

  &__content {
    margin-bottom: var(--spacing-tertiary);

    & > :not(:last-child) {
      margin-bottom: var(--spacing-primary);
    }

    & > :nth-child(1n) {
      transform: translateX(-100%);
      opacity: 0;
    }

    & > :nth-child(2n) {
      transform: translateX(+100%);
      opacity: 0;
    }
  }
}

@media (min-width: 700px) {
  .l-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__content {
      max-width: 90rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }
}
