:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;

  --color-white: #fff;
  --color-primary: #ebd0ce;
  --color-dark-primary: #e6dbda;
  --color-light-primary: #f7eceb;
  --color-secondary: #545871;
  --color-light-secondary: #9597a6;
  --color-tertiary: #b8817d;
  --color-blue: #dadbe6;
  --color-pale-blue: #f0f1f7;

  --spacing-primary: 2rem;
  --spacing-secondary: 3rem;
  --spacing-tertiary: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--color-light-primary);
}