:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  --color-white: #fff;
  --color-primary: #ebd0ce;
  --color-dark-primary: #e6dbda;
  --color-light-primary: #f7eceb;
  --color-secondary: #545871;
  --color-light-secondary: #9597a6;
  --color-tertiary: #b8817d;
  --color-blue: #dadbe6;
  --color-pale-blue: #f0f1f7;
  --spacing-primary: 2rem;
  --spacing-secondary: 3rem;
  --spacing-tertiary: 4rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--color-light-primary);
}

.a11y-block {
  position: fixed;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  padding: 8px 16px;
  z-index: 10;
  bottom: 16px;
  right: 16px;
}
.a11y-block__hc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.a11y-block__hc-btn {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.a11y-block__hc-btn[data-theme=light] {
  background-color: white;
}
.a11y-block__hc-btn[data-theme=dark] {
  background-color: black;
}