@import './components/c-logo';
@import './components/c-schedule';
@import './components/c-content';
@import './components/c-testimonial';
@import './components/c-option';
@import './components/c-image';

@import './layouts/l-intro';
@import './layouts/l-message';
@import './layouts/l-options';
@import './layouts/l-services';
@import './layouts/l-testimonials';

.l-footer {
  padding: 8rem 0;
}

@media (max-width: 700px) {
  section:not(.l-intro) {
    .c-schedule {
      margin: 0 auto;
    }
  }
}

@media (min-width: 900px) {
  :root {
    font-size: 65%;
  }

  @media (min-width: 1400px) {
    :root {
      font-size: 80%;
    }
  }
}
