.side {
  position: relative;
  width: 100vw;
  height: 100%;
  color: var(--color-white);
  margin-bottom: 4rem;

  .why__tittle {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }

  .why__answer {
    font-size: 2.4rem;
    padding: 0 2rem;

    li {
      position: relative;
      display: block;
      height: 8rem;
      padding-top: 1rem;
    }

    li:before {
      position: absolute;
      font-size: 2.8rem;
      top: 0;
      left: -2rem;
      content: "•";
    }
  }

  .logo {
    margin-bottom: 6rem;
  }

  .side__image {
    width: 100%;
    height: 100%;
  
  }

  .side__content {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 55%;
    transform: translateX(-50%);

    .select__step {
      display: none;
    }
  }

  .change__point {
    .why__us {
      display: none;
    }

    .show__steps {
      display: block;
    }
  }
}

@media (min-width: 750px) {
  .side {
    width: 40vw;
    min-width: 350px;
    height: 100vh;
    margin: 0;
  }
}