.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-secondary);

  .confirm__zip-code {
    width: 100%;
    height: 100%;
    max-width: 480px;
    padding: 10% 6rem;

    .zip-code {
      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .input__field input {
      width: 60%;
    }
  }

  .step__tittle {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .label__field {
    margin-bottom: 1rem;
  }

  .input__tittle {
    font-size: 1.6rem;
    color: var(--color-light-secondary);
  }

  .step__info {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .sign-up {
    width: 100%;
    padding: 0 6rem;
    margin: 10% 0;

    fieldset > :nth-child(1n):not(.step__tittle) {
      margin-bottom: 2rem;
    }

    .step__tittle {
      margin-bottom: 6rem;
    }
    
    .hidden {
      display: none;
    }
  }

  fieldset {
    border: none;
  }

  footer {
    height: 10rem; 
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    

    background-color: var(--color-white);
    border-top-color: var(--color-dark-primary);

    .button {
      display: none;
    }

    .member {
      font-size: 1.6rem;
      color: var(--color-light-secondary);
    }

    a {
      margin-left: 1rem;
      text-decoration: none;
      color: var(--color-secondary);
    }
  }

  footer.change__point {
    justify-content: start;
    padding: 0 4rem;
    .member {
      display: none;
    }

    .button {
      display: initial;
    }
  }
}

@media (min-width: 750px) {
  .steps {
    width: 60vw;
    height: 100vh;
    padding-bottom: 12rem;
    overflow-y: scroll;

    .step__tittle {
      font-size: 3.4rem;
    }

    footer {
      position: fixed;
      width: inherit;
      bottom: 0;
      right: 0;
    }
  }
}
