.steps {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-secondary);

  .step__tittle {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 5rem 0;
  }

  .input__tittle {
    font-size: 1.6rem;
    color: var(--color-light-secondary);
  }

  .step__info {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .sign-up {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    fieldset {
      height: 100%;
      border: none;
      margin: auto 0;
      padding: 4rem;
    }

    #first {
      height: initial;
      width: 100%;
      max-width: 40rem;
      overflow-y: hidden;
      margin: auto;
      
      .step__tittle {
        margin: 0;
      }

      input {
        width: 20rem;
      }
    }

    fieldset > :nth-child(1n):not(legend) {
      margin-bottom: 2rem;
    }
    
  }

  .form__footer {
    height: 12rem;
    width: 100%;

    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-white);
    border-top-color: var(--color-dark-primary);

    .step__buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      button {
        @extend .button;
        transition: opacity 0.4s linear;
        
        &:disabled {
          opacity: 0;
          cursor: default;
        }
      }
    }

    .member {
      font-size: 1.6rem;
      text-align: center;
      color: var(--color-light-secondary);
    }

    a {
      margin-left: 1rem;
      text-decoration: none;
      color: var(--color-secondary);
    }
  }
}

@media (min-width: 750px) {
  .steps {
    width: 60vw;
    height: 100vh;
    overflow-y: hidden;

    .sign-up fieldset {
      position: relative;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .step__tittle {
      font-size: 3.4rem;
    }
  }
}
