span,
label {
  display: block;
}

.confirm__zip-code {
  width: 100%;
  max-width: 384px;
  padding: 0 4rem;

  margin: 25% auto;

  .input__field input {
    width: 60%;
  }
}

.button {
  height: 5.6rem;
  width: 16rem;
  font-size: 2.4rem;
  color: var(--color-secondary);
  border: 0.1rem solid var(--color-secondary);
  border-radius: 3rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 700px) {
  body {
    display: flex;
  }
}

@import "side";
@import "steps";
@import "Form/default-input";
@import "Form/select-option";
@import "Form/show-steps";