:root {
  --danger-clr: var(--color-tertiary);
}

span,
label {
  display: block;
}

.logo {
  width: 60%;
  height: 6.4rem;
  margin-bottom: 6rem;
  
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 200;
  }

  img {
    height: 6.4rem;
    width: 6.4rem;
    margin-right: 1rem;
  }
}

.button {
  height: 4rem;
  width: 12rem;
  font-size: 2.4rem;
  color: var(--color-secondary);
  border: 0.1rem solid var(--color-secondary);
  border-radius: 3rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-blue);
  }
}

@media (min-width: 750px) {
  body {
    display: flex;
  }
}


@import "side";
@import "steps";
@import "Form/default-input";
@import "Form/select-option";
@import "Form/error-field";
@import "Form/show-steps";