@charset "UTF-8";
span,
label {
  display: block;
}

.button {
  height: 4rem;
  width: 12rem;
  font-size: 2.4rem;
  color: var(--color-secondary);
  border: 0.1rem solid var(--color-secondary);
  border-radius: 3rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 750px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.side {
  position: relative;
  width: 100vw;
  height: 100%;
  color: var(--color-white);
  margin-bottom: 4rem;
}

.side .why__tittle {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.side .why__answer {
  font-size: 2.4rem;
  padding: 0 2rem;
}

.side .why__answer li {
  position: relative;
  display: block;
  height: 8rem;
  padding-top: 1rem;
}

.side .why__answer li:before {
  position: absolute;
  font-size: 2.8rem;
  top: 0;
  left: -2rem;
  content: "•";
}

.side .logo {
  margin-bottom: 6rem;
}

.side .side__image {
  width: 100%;
  height: 100%;
}

.side .side__content {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.side .side__content .select__step {
  display: none;
}

.side .change__point .why__us {
  display: none;
}

.side .change__point .show__steps {
  display: block;
}

@media (min-width: 750px) {
  .side {
    width: 40vw;
    min-width: 350px;
    height: 100vh;
    margin: 0;
  }
}

.steps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-secondary);
}

.steps .confirm__zip-code {
  width: 100%;
  height: 100%;
  max-width: 480px;
  padding: 10% 6rem;
}

.steps .confirm__zip-code .zip-code {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps .confirm__zip-code .input__field input {
  width: 60%;
}

.steps .step__tittle {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.steps .label__field {
  margin-bottom: 1rem;
}

.steps .input__tittle {
  font-size: 1.6rem;
  color: var(--color-light-secondary);
}

.steps .step__info {
  font-size: 1.6rem;
  line-height: 2rem;
}

.steps .sign-up {
  width: 100%;
  padding: 10% 6rem;
}

.steps .sign-up fieldset > :nth-child(1n):not(.step__tittle) {
  margin-bottom: 2rem;
}

.steps .sign-up .step__tittle {
  margin-bottom: 6rem;
}

.steps .sign-up .hidden {
  display: none;
}

.steps fieldset {
  border: none;
}

.steps footer {
  height: 10rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-white);
  border-top-color: var(--color-dark-primary);
}

.steps footer .button {
  display: none;
}

.steps footer .member {
  font-size: 1.6rem;
  color: var(--color-light-secondary);
}

.steps footer a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--color-secondary);
}

.steps footer.change__point {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 4rem;
}

.steps footer.change__point .member {
  display: none;
}

.steps footer.change__point .button {
  display: initial;
}

@media (min-width: 750px) {
  .steps {
    width: 60vw;
    height: 100vh;
    overflow-y: hidden;
  }
  .steps .sign-up {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .steps .step__tittle {
    font-size: 3.4rem;
  }
}

.input__field {
  width: 100%;
  margin-top: 1rem;
}

.input__field input:not([type="checkbox"]) {
  width: inherit;
  height: 5.4rem;
  font-size: 2rem;
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
  border: 1px solid var(--color-dark-primary);
  margin-top: 0.6rem;
}

.input__field input:not([type="checkbox"]):focus {
  border-color: var(--color-secondary);
}

.input__field input:not([type="checkbox"])::-webkit-input-placeholder {
  opacity: 0.5;
  color: var(--color-tertiary);
}

.input__field input:not([type="checkbox"]):-ms-input-placeholder {
  opacity: 0.5;
  color: var(--color-tertiary);
}

.input__field input:not([type="checkbox"])::-ms-input-placeholder {
  opacity: 0.5;
  color: var(--color-tertiary);
}

.input__field input:not([type="checkbox"])::placeholder {
  opacity: 0.5;
  color: var(--color-tertiary);
}

.input__field input::-webkit-datetime-edit-text,
.input__field input::-webkit-datetime-edit-month-field,
.input__field input::-webkit-datetime-edit-day-field,
.input__field input::-webkit-datetime-edit-year-field {
  color: var(--color-primary);
}

.photo__field {
  width: 100%;
  margin-top: 1rem;
}

.photo__field label {
  cursor: pointer;
}

.photo__field figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo__field figcaption {
  font-size: 1.4rem;
}

.photo__field .upload__button {
  height: 5.4rem;
  width: 5.4rem;
  padding: 1.6rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-primary);
}

.photo__field .upload__button img {
  width: 100%;
  height: 100%;
}

.photo__field input:focus ~ label .upload__button {
  border-color: var(--color-secondary);
}

.photo__field input {
  position: absolute;
  opacity: 0;
}

.check__field label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check__field .check__content {
  width: 90%;
  font-size: 1.4rem;
}

.check__field .check {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-dark-primary);
  background-color: var(--color-white);
  cursor: pointer;
}

.check__field input {
  position: absolute;
  opacity: 0;
}

.check__field input:checked ~ .label__field .check,
.check__field input:checked ~ label .check {
  background-color: var(--color-secondary);
}

.check__field input:checked ~ .label__field .check:before,
.check__field input:checked ~ label .check:before {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-white);
  -webkit-transform: translate(50%);
          transform: translate(50%);
  right: 50%;
  content: "✓";
}

.check__field input:focus ~ .label__field .check {
  border-color: var(--color-secondary);
}

.text__field {
  width: 100%;
}

.text__field textarea {
  width: 100%;
  height: 8rem;
  padding: 1rem;
  resize: none;
  border-radius: 0.5rem;
  border: 1px solid var(--color-dark-primary);
}

.text__field textarea:focus {
  border-color: var(--color-secondary);
}

@media (min-width: 800px) {
  .field__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.4rem;
  }
  .photo__field {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 0;
  }
  .sixth .check__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.select__container .select {
  margin-bottom: 1rem;
}

.select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-primary);
}

.select label {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.select label .pet__option {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select label .option__image {
  min-height: 4rem;
  max-height: 8rem;
}

.select label .option__legend {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.select label:hover {
  background-color: var(--color-primary);
}

.select:focus-within {
  border-color: var(--color-secondary);
}

.select input:checked + label,
.select input:focus + label {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
}

.select input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

@media (min-width: 800px) {
  .select__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.4rem;
  }
  .select.two-columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .select.four-columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.input__error {
  font-size: 1.6rem;
  margin-left: 0.5rem;
  color: var(--color-tertiary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input__field.error .label__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input__field.error input {
  border-color: var(--color-tertiary);
}

.check__field .input__error {
  margin-top: 0.5rem;
  margin-left: 2.8rem;
}

.select__field.error .label__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__field.error .select {
  border: 1px solid var(--color-tertiary);
}

.show__steps {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  padding-left: 2.6rem;
  color: var(--color-light-secondary);
}

.show__steps .radio__field {
  position: relative;
  height: 6rem;
  font-size: 2rem;
  border-left: 1px solid white;
}

.show__steps .radio__field:last-child {
  border: none;
}

.show__steps label {
  margin-left: 3rem;
}

.show__steps .check {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  border: 0.4rem solid var(--color-light-secondary);
  background-color: var(--color-light-secondary);
  top: -0.8rem;
  left: -1.2rem;
  -webkit-transition: background-color, border-color 0.4s linear;
  transition: background-color, border-color 0.4s linear;
}

.show__steps input:checked ~ label .check {
  border-color: var(--color-white);
  background: var(--color-secondary);
}

.show__steps input:checked ~ label {
  color: var(--color-white);
}

.show__steps input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */